@import '../styles/theme.css';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--color-background-secondary);
  min-height: 100vh;
}

html {
  background-color: var(--color-background-secondary);
}
